@tailwind base;
@tailwind components;
@tailwind utilities;

.loader{
    background-image: url("/loader.gif");
    width: 200px;
    height: 200;
    background-size: contain;
    background-repeat: no-repeat;
}