@tailwind base;
@tailwind components;
@tailwind utilities;


/* LOADER */
.loaderPage{
    background-color: black;
    height: 100vh;
}
.loaderPage2{
    display: none;
}
.loader{
    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
top: 200px;    
}

/* HERO */
.hero{
   
   background-image: url('../../public/hero.png');
  min-height: 80vh;
  background-attachment: fixed;

   background-size: cover;
  background-repeat: no-repeat;
  background-position: 69%;
}
.paralax{
    background-color:red;
}
/* PAGE 2 */
.author{
    font-style: italic;

}
.MainText{
   text-align: center; 
   font-weight: 700;
}
.interview{
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
margin-right: auto;
max-width: 900px;
}
.footer{
    height: 300px;
    background-color: black;
}
.page2{
    color: wh;
}