@tailwind base;
@tailwind components;
@tailwind utilities;


LOA
.loaderPage{
    background-color: black;
    height: 100vh;
}
.loader{
    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
top: 200px;    
}