@tailwind base;
@tailwind components;
@tailwind utilities;

.top{
    width: 150px;
}
/* LOADER */
.loaderPage{
    background-color: black;
    height: 100vh;
}
.loaderPage2{
    display: none;
}
.loader{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
    position: relative;
    top: 200px;
   

     
}
.loadAfter{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
    position: relative;
    top: 200px;
    width: 600px;
   
}
.loading{
    display: none;
}
.loader2{
    background-color: black;
    height: 100vh;
}

.landi{
    display: none;
}

/* HERO */
.hero{
   
   background-image: url('../../public/img/hero.jpg');
  min-height: 80vh;
  background-attachment: fixed;

   background-size: cover;
  background-repeat: no-repeat;
  background-position: 69%;
}
.heroLogic{
    display: none;
}
.paralax{
}
/* PAGE 2 */
.author{
    font-style: italic;
    font-family: 'Mukta', sans-serif;

}
.MainText{
   text-align: center; 
   font-weight: 800;
   font-family: 'Mukta', sans-serif;

}
.interview{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
margin-right: auto;
max-width: 1046px;
font-family: 'Mukta', sans-serif;

}
.image3{
    max-width: 1046px;
    height: 500px;
}
.i1{
    width: 450px;
    height: 651px;
    margin-top: 50px;
}
.imageSection{
    max-width: 1046px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px){
    /*Tablets [601px -> 1200px]*/
    .imageSection{
display: flex;
    }
    .i1{
        width: 350px;
        height: 551px;
    }
    
}
#des{
    text-align: center;
    margin-right: 20px !important;
    
}
.footer{
    position: relative;
    top: 230px;
    height: 300px;
    background-color: black;
}

.rod{
    font-family: 'Play', sans-serif;
    font-size: 13px;

}



.insta{
    height: 15px;
    position: relative;
    top: 6px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}
.socials{
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    

    
}
.icon{
    margin-left: auto;
    margin-right: auto;
}
.mainAuthor{
    text-align: center;
    font-family: 'Mukta', sans-serif;

}
.verse{
    position: relative;
    top: 150px;
}
.last{
    position: relative;
    top: 170px; 
}
.lastText{
    position: relative;
    top: 190px;  
}